.onGoingGameContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.messageContainer {
  font-size: large;
  margin: 20px;
  height: 30px;
}

.gameContainer {
  display: flex;
  flex-direction: column;
}

.points {
  font-size: x-large;
  text-align: center;
  margin: 20px;
}

.playButton {
  background-color: red;
  color: white;
  font-size: xxx-large;
  padding: 20px;
}

.restartContainer {
  margin: 20px;
}

.restartButton {
  background-color: red;
  color: white;
  font-size: xxx-large;
  padding: 20px;
}
